@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*  font-family: 'Raleway', sans-serif;
    font-family: 'Comforter', cursive;
    font-family: 'Pacifico', cursive;

*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(238, 235, 221);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background: rgb(216, 182, 164);
    z-index: 10;
}

.container-div {
    display: flex;
    margin: 0 40px;
    height: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.container-div__img {
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;  
    box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.5);
}

.container-div__a {
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: white;

}

#main {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;    
    background: rgb(238, 235, 221);
    height: 900px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.main-title {
    font-size: 80px;
    font-family: 'Pacifico', cursive;  
    color: rgb(99, 0, 0);
    color: #131313;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d;
    
}

.main-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    height: 350px;
    width: 800px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);
}

.main-section__div {
    display: flex;
    flex-direction: column;
    padding: 10px;
  
}

.main-section__div h2 {
    padding: 20px 70px;
    font-size: 40px;
    font-family: 'Comforter', cursive;
}

.main-section__div p {
    padding: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif
}

.section__button {
    padding: 20px;     
}

.section__button button {
    margin: 0 30px;
    padding: 15px;
    border-radius: 50%;
    font-family: 'Raleway', sans-serif;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
}

.section_img {
    height: 150px;
    width: 200px;
}

#section-us {
    text-align: center;
    width: 80%;
    height: 150px;
    background: white;
    overflow-y: scroll;
    border: 5px solid rgb(99, 0, 0) ;
    border-radius: 10px;
}

.us-title {
    margin: 30px;
}
.us-text {
  
    text-align: start;
}
.us-text p {
    margin: 0 20px;
}

